<!-- signup and login form start -->
<div class="container px-4 px-lg-5">
  <div class="row gx-4 gx-lg-5 justify-content-center">
    <div class="col-md-10 col-lg-8 col-xl-7">
      <p>Quick! Get logged in! You are missing new posts!</p>
      <div class="my-5">
        <form class="login-form">
          <div class="form-floating">
            <input class="form-control" type="text" id="email-login" placeholder=" " />
            <label for="email-login">Email</label>
          </div>
          <div class="form-floating">
            <input class="form-control" type="password" id="password-login" placeholder=" " />
            <label for="password-login">Password</label>
          </div>
          <br />
          <div>
            <button class="btn btn-outline-success" type="submit">Login</button>
          </div>
        </form>
        <br /><br />
        <p>Don't have an account? Signup now!</p>
        <form class="signup-form">
          <div class="form-floating">
            <input class="form-control" id="username-signup" type="text" placeholder=" " />
            <label for="username-signup">Username</label>
          </div>
          <div class="form-floating">
            <input class="form-control" type="text" id="email-signup" placeholder=" " />
            <label for="email-signup">Email</label>
          </div>
          <div class="form-floating">
            <input class="form-control" type="password" id="password-signup" placeholder=" " />
            <label for="password-signup">Password</label>
          </div>
          <br />
          <div>
            <button class="btn btn-outline-success" type="submit">Signup</button>
          </div>
        </form>
        <br />
        <script src="/javascript/login.js"></script>
        <!-- signup and login form end -->