<div class="container px-4 px-lg-5">
  <div class="row gx-4 gx-lg-5 justify-content-center">
    <div class="col-md-10 col-lg-8 col-xl-7">
      {{> post-info post}}

      {{#if loggedIn}}
      <form class="comment-form">
        <div>
          <textarea class="form-control" name="comment-body" placeholder="Type your comment here..."></textarea>
        </div>
        <br />
        <div class="col">
          <button type="submit" class="btn btn-outline-primary">Add a comment</button>
          <button type="button" class="upvote-btn btn btn-outline-success ">Upvote</button>
        </div>
      </form>
      <br />
      {{/if}}

      {{> comments post.comments}}

      <br /><br />

      {{#if loggedIn}}
      <script src="/javascript/comment.js"></script>
      <script src="/javascript/upvote.js"></script>
      {{/if}}
    </div>
  </div>
</div>